/*MOBILE ABOUT STYLES**/
/*PROGRESS STYLES**/
#progress-bar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background: linear-gradient(to left, #0c09f0, #030b85);
    z-index: 10000;
    transform-origin: 0% 50%;
    animation: grow-progress auto linear;
    animation-timeline: scroll();
}

@keyframes grow-progress {
    from { transform: scaleX(0);}
    to { transform: scaleX(1);}
}



/**HEADER STYLES**/
.header{
    display: flex;
    gap: 12rem;
    align-items: center;
    justify-content: center;
    background-color: rgb(5, 5, 43);
    position: fixed;
    top: 0px;
    left: 0px;
    padding: 2px; 
    width: 100%;
    height: 37px;
    color: whitesmoke; 
    z-index: 1000;
}

    
section {
    margin: 10px;   
    position: relative;
    z-index: 100;
    
}

 
.lef{
    display: flex;
    align-items: center;
}
.lef img{
    height: 16px;
    width: 16px;
    padding: 2px;
}
.lef span{
    color: whitesmoke;
    font-size: 21px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
}


/**RIGHT SIDE HEADER STYLES*/
.righ{
    display: none;/* Hidden until menu icon is clicked */
    position: absolute;
    flex-direction: column;
    top: 2.3rem;
    text-align: left;
    border-radius: 0 0 10px 10px;
    border-top: 0.2px solid lightblue;
    gap: 0.4rem;
    padding: 20px;
    width: 100%;
    color: white;
    transition:  all 0.5s; 
    left: 0;
    right: 5px;
    background: linear-gradient(to left, #042f4b, #011827);
    box-shadow: 0 0 24px rgba(0, 0, 0, 0.67);
}


.righ.active {
    display: flex; /* Shown when 'active' class is added */
}


.mobile-menu-btn{
    display: block;
    border: none;
    outline: none;
    padding: 9px;
    background: transparent;
    color: white;
    font-size: 24px;
}

.righ nav{
    display: flex;
    text-align: left;
    padding: 10px;
}

.righ nav a{
    text-decoration: none;
    color: whitesmoke;
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: flexbox;
    gap: 2rem;
    align-items: center;
    justify-content: space-around;
    
}

.navlink a{
    text-decoration: none;
    padding: 10px;
    color: whitesmoke;
    border-radius: 5px;
    font-size: 18px;
    background: linear-gradient(to left, #f50909, #570202);
    box-shadow: 0 0 24px rgba(0, 0, 0, 0.67);
    width: 83%;
    margin: 30px 0 30px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.navlink a:hover{
    background-color: rgb(39, 2, 2);
    cursor: pointer; 
}

/**THEME SECTION STYLES**/
.theme ul{
    margin-left: -45px;
}
.theme li{
    list-style: none;
    margin: 8px;
    display: flex;
    align-items: center;
    justify-content: left;
    color: whitesmoke;
}
.theme i{
    margin: 6px;
    padding: 12px;
    border-radius: 8px;
    background: linear-gradient(to right, rgb(12, 125, 196), rgb(2, 63, 100));
    color: whitesmoke;
    font-weight: bold;
}
.theme a{
    text-decoration: none;
    color:white;
    font-size: 16px;
    padding: 10px;
}
.theme p{
    margin-left: 12px;
}


/**FADE IN ANIMATION STYLES**/
.fade-in-section{
    margin: 100px auto;
    padding: 40px;
    max-width: 600px;
    background: #f4f4f4;
    border-radius: 8px;
    opacity: 0;
    animation: fade-in linear forwards;
    animation-timeline: view();
    animation-range: entry 0% entry 30%;
}

@keyframes fade-in {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.an {
    color: white; 
    padding: 1px; 
    border-radius: 5px;
}
   

/*SECTION STYLES**/
section{
    margin: 20px;
    top: 30px;
}

.legal-container {     
    background: white;
    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    border: 1px solid #dfe6e9;
    padding: 10px;
    margin-bottom: 100px;
}

/* Tabs Navigation */
.legal-tabs { 
    display: flex;
    border-bottom: 1px solid var(--border-color);
    background: rgba(0, 0, 0, 0.02);
    width: 100%;
    }
.tab-btn { 
    flex: 1; 
    padding: 20px; 
    border: none; 
    background: none; 
    color: #011331; 
    font-weight: 600; 
    cursor: pointer; 
    transition: 0.3s; 
    border-bottom: 3px solid transparent;
    }
.tab-btn.active { 
    border-bottom-color: #0984e3; 
    color: #0984e3; 
    background: rgba(9, 132, 227, 0.05); }
.tab-btn i { 
    margin-right: 8px; 
}

/* Content Area */
.legal-content {
    padding: 15px; 
    min-height: 400px; 
}
.tab-panel { 
    display: none; 
    animation: fadeIn 0.4s ease-in-out; 
    line-height: 1.6; 
}
.tab-panel.active { 
    display: block; 
}

.tab-panel a{
    text-decoration: underline;
    padding: 10px;
    border-radius: 18px;
    color: #0984e3;
    transition: 2.3s;
    font-size: 18px;

}
.tab-panel a:hover{
    background-color: rgb(4, 102, 4);
    color: #ffffff;
}

@keyframes fadeIn { 
    from { opacity: 0; transform: translateY(5px); } 
    to { opacity: 1; transform: translateY(0); } 
}

h2 { 
    margin-top: 0; 
    color: #0984e3;
 }
ul { padding-left: 20px; }
.date { 
    font-size: 0.9em; 
    opacity: 0.7; 
    margin-bottom: 20px; 
    display: block; 
}




/*FOOTER STYLES**/
.footer{
    position: absolute;
    left: 0px;
    right: 0px;
    margin-top: auto;
    height: auto;
    text-align: center;
    background-color: #042f4b;
    padding: 10px;
    color: white;
}
.ft{
    border-left: 2px solid grey;
    padding: 4px;
}
.backs{
    display: flex;
    align-items: center;
    justify-content: center;
}
.backs h2{
  font-size: 20px;
  margin-bottom: 10px;
  font-weight: 300;
}

.backs span{
  font-weight: 300;
  font-size: 12px;
}

.ads a {
    text-decoration: none;
    padding: 5px;
    color: white;
    font-size: 16px;
    margin-top: 20px;
    transition:  background-color 0.3s ease;
}
.ads a:hover {
    text-decoration: underline;
   /* background-color: #0056b3;*/
    border-radius: 20px;
    padding: 10px;
    color: white;

}
.ads ul{
    display: flex;
    gap: 0.4rem;
    align-items: center;
    justify-content: center;
    margin-left: -40px;

}
.ads li{
    list-style: none;
    background-color: crimson;
    border-radius: 50px;
    padding: 10px;
    font-size: 7px;
}
.help{
    color: #f9f9f9;
    margin-top: 20px;
    display: flex;
    align-items: center;
}
.help a{
    text-decoration: none;
    margin: 10px;
}
.help i{
    color: white;
    margin: 13px;
    font-size: 8px;
    letter-spacing: 2px;
    text-align: center;    
}


.legal h3{
    color: lightslategray;
    margin-bottom: 20px;
}
.legal a{
    text-decoration: none;
    color: #fff;
    margin: 6px;
}
.legal a:hover{
    color: #fff;
    padding: 4px;
    border-radius: 16px;
    border: 0.2px solid rgb(220, 221, 221);
    color: white;
    background-color: lightblue;
}


.s{
    color: grey;
    font-style: italic;
    font-weight: 300;
    margin-bottom: -15px;

}
.social{
  margin: 20px 0;

}
  

.social i{
  height: 40px;
  width: 17px;
  color: white;
  font-size: 20px;
  border-radius: 50%;
  line-height: 40px;
  padding: 10px;
  margin: 0 5px;
  cursor: pointer;
}


.ft{ 
  border-left: 2px solid grey;
  padding: 4px;
  color: white;
  font-weight: bold;
  font-size: medium;
  
}



/**styles for all inputs**/
/**styles for all inputs**/
/**styles for all inputs**/





/*DESKTOP SCREEN SIZE STYLES**/
@media screen and (min-width: 768px) {
/* HEADER STYLES**/
.header{
    display: flex;
    width: 100%;
    gap: 22rem; 
    align-items: center;
    justify-content: center;
    background-color: rgb(5, 5, 43);
    position: fixed;
    top: 0px;
    left: 0px;
    padding: 10px;
    height: 50px;
    color: whitesmoke;
    z-index: 100;
}

/**LEFT SIDE HEADER STYLES*/
.lef{
    display: flex;
    align-items: center;
}
.lef img{
    height: 30px;
    width: 30px;
    padding: 8px;
}
.lef span{
    color: whitesmoke;
    font-size: xx-large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
}


/**RIGHT SIDE HEADER STYLES*/
.righ{
    display: flex;/*visible navlinks*/
    position: relative;
    flex-direction: column;
    width: auto;
    background: transparent;
    top: 17rem;
    box-shadow: none;
    border-top: none;
}


.mobile-menu-btn{
    display: none;
}

.righ nav{
    display: flex;
    text-align: left;
    padding: 10px;
}

.nav-links{
    display: flex;
    align-items: center;
    position: absolute;
    gap: 3rem;
    top: -689%;
}

.righ nav a{
    text-decoration: none;
    color: whitesmoke;
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: flexbox;
    gap: 2rem;
    align-items: center;
    justify-content: space-around;
    
}
.righ nav a:hover{
    text-decoration: underline;
    cursor: pointer;
    color: rgb(250, 250, 250);
    border-radius: 15px;
}

.navlink {
    width: 118%;
    margin-top: -60px;
    display: none;
}

.navlink a{
    text-decoration: none;
    padding: 10px;
    color: whitesmoke;
    border-radius: 5px;
    font-size: 18px;
    background: linear-gradient(to left, #f50909, #570202);
    box-shadow: 0 0 24px rgba(0, 0, 0, 0.67);
    width: 83%;
    margin: 30px 0 30px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.navlink a:hover{
    background-color: rgb(39, 2, 2);
    cursor: pointer; 
}

/**THEME SECTION STYLES**/
.theme{
    position: relative;
    text-align: center;
    border-radius: 0 0 10px 10px;
    border-top: 2px solid lightblue;
    padding: 20px;
    margin-top: -52%;
    width: 209.5%;
    height: 48px;
    color: white;
    left: -115.5%;
    background: linear-gradient(to left, #042f4b, #011827);
    box-shadow: 0 0 24px rgba(0, 0, 0, 0.4);
}
.theme ul{
    margin-left: -45px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.theme li{
    list-style: none;
    margin: 8px;
    display: flex;
    align-items: center;
    justify-content: left;
    color: whitesmoke;
}
.theme i{
    margin: 6px;
    padding: 12px;
    border-radius: 8px;
    background: linear-gradient(to right, rgb(12, 125, 196), rgb(2, 63, 100));
    color: whitesmoke;
    font-weight: bold;
}
.theme a{
    text-decoration: none;
    color:white;
    font-size: 16px;
    font-weight: 400;
    padding: 10px;
}
.theme p{
    margin-left: 12px;
}
.theme h5{
    font-size: large;
    margin: -6px 0 -30px 0;    
}

/* SECTION STYLES**/
section {
    margin: 20% 10px 10px;   
    position: relative;
    z-index: 1;

}

.an{
    color: white; 
    padding-bottom: 3px; 
    border-radius: 7px;
    text-decoration: none;
}

    
/*MAIN STYLES*/
.main{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    width: 100%;
    margin-left: -25px;
    margin-top: 30px;
}

.bars{
    margin: 20px 0px 0px -17px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 15px;
    gap: 1rem;
    width: 100%;
}


/**FOOTER STYLES **/
.footer{
    margin-top: auto;
    height: auto;
}
.trust p{
    font-size: 21px;
}

.ads p{
    font-size: 18px;
}
.ads li{
    font-size: 18px;
}
.ads a{
    font-size: 18px;
}
.help{
    display: flex;
    color: #f9f9f9;
    margin-top: 20px;
    margin-left: 0%;
    align-items: center;
    justify-content: center;

}
.help a{
    text-decoration: none;
    margin: 10px;
}
.help i{
    font-size: 14px;
    
}

.s{
    color: grey;
    font-style: italic;
    font-weight: 300;
    margin-bottom: -15px;

}
.social{
  margin: 20px 0;

}
.social i{
  height: 40px;
  width: 20px;
  color: white;
  font-size: 20px;
  border-radius: 50%;
  line-height: 40px;
  padding: 10px;
  margin: 0 5px;
  cursor: pointer;
}


} /**END OF CSS SCREEN SIZE CODES**/

