/*MOBILE ABOUT STYLES**/
/*PROGRESS STYLES**/
#progress-bar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background: linear-gradient(to left, #0c09f0, #030b85);
    z-index: 10000;
    transform-origin: 0% 50%;
    animation: grow-progress auto linear;
    animation-timeline: scroll();
}

@keyframes grow-progress {
    from { transform: scaleX(0);}
    to { transform: scaleX(1);}
}



/**HEADER STYLES**/
.header{
    display: flex;
    gap: 12rem;
    align-items: center;
    justify-content: center;
    background-color: rgb(5, 5, 43);
    position: fixed;
    top: 0px;
    left: 0px;
    padding: 2px; 
    width: 100%;
    height: 37px;
    color: whitesmoke; 
    z-index: 1000;
}
 
.lef{
    display: flex;
    align-items: center;
}
.lef img{
    height: 16px;
    width: 16px;
    padding: 2px;
}
.lef span{
    color: whitesmoke;
    font-size: 21px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
}


/**RIGHT SIDE HEADER STYLES*/
.righ{
    display: none;/* Hidden until menu icon is clicked */
    position: absolute;
    flex-direction: column;
    top: 2.3rem;
    text-align: left;
    border-radius: 0 0 10px 10px;
    border-top: 0.2px solid lightblue;
    gap: 0.4rem;
    padding: 20px;
    width: 100%;
    color: white;
    transition:  all 0.5s; 
    left: 0;
    right: 5px;
    background: linear-gradient(to left, #042f4b, #011827);
    box-shadow: 0 0 24px rgba(0, 0, 0, 0.67);
}


.righ.active {
    display: flex; /* Shown when 'active' class is added */
}


.mobile-menu-btn{
    display: block;
    border: none;
    outline: none;
    padding: 9px;
    background: transparent;
    color: white;
    font-size: 24px;
}

.righ nav{
    display: flex;
    text-align: left;
    padding: 10px;
}

.righ nav a{
    text-decoration: none;
    color: whitesmoke;
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: flexbox;
    gap: 2rem;
    align-items: center;
    justify-content: space-around;
    
}

.navlink a{
    text-decoration: none;
    padding: 10px;
    color: whitesmoke;
    border-radius: 5px;
    font-size: 18px;
    background: linear-gradient(to left, #f50909, #570202);
    box-shadow: 0 0 24px rgba(0, 0, 0, 0.67);
    width: 83%;
    margin: 30px 0 30px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.navlink a:hover{
    background-color: rgb(39, 2, 2);
    cursor: pointer; 
}

/**THEME SECTION STYLES**/
.theme ul{
    margin-left: -45px;
}
.theme li{
    list-style: none;
    margin: 8px;
    display: flex;
    align-items: center;
    justify-content: left;
    color: whitesmoke;
}
.theme i{
    margin: 6px;
    padding: 12px;
    border-radius: 8px;
    background: linear-gradient(to right, rgb(12, 125, 196), rgb(2, 63, 100));
    color: whitesmoke;
    font-weight: bold;
}
.theme a{
    text-decoration: none;
    color:white;
    font-size: 16px;
    padding: 10px;
}
.theme p{
    margin-left: 12px;
}
.theme h5{
    font-size: large;
}


/**FADE IN ANIMATION STYLES**/
.hero h1,h2,h3,h4, h5 { 
    font-size: xx-large;
    margin-bottom: 1rem; 
    animation: fadeInUp 0.8s ease;
}

@keyframes fadeInUp { 
    from { opacity: 0; transform: translateY(30px); } 
    to { opacity: 1; transform: translateY(0); } 
}


.an {
    color: white; 
    padding: 1px; 
    border-radius: 5px;
}
   

/*SECTION STYLES**/
section{
    margin: 20px;
    top: 30px;
    position: relative;
    z-index: 100;
}

/**ADS SECTION CODES**/
.top-bar{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 100px;
    padding: 20px;
}
  
.top-bar p{
    margin: 30px;
    margin-bottom: 50px;
}
.top-bar a{
    text-decoration: none;
    background: linear-gradient( 135deg, rgb(12, 125, 196), rgb(2, 63, 100));
    color: whitesmoke;
    padding: 15px;
    margin-top: 50px;
    border-radius: 8px; 
}

/* EXP Styles */
.exp{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}
.ex{
    background-color: lightcyan;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid lightblue;
    margin: 20px;
    text-align: center;
    height: 20vh;
}
.ex h4{
    font-weight: 800;
    font-size: xx-large;
    font-family: sans-serif;
    color: rgb(48, 185, 231);
    opacity: 0.8;
}
.ex strong{
    font-size: medium;
    font-family: sans-serif;
    color: #011331;
    opacity: 0.5;
}


/* Form Styles */
.form-container { 
    background: white; 
    padding: 30px; 
    border-radius: 15px; 
    box-shadow: 0 10px 25px rgba(0,0,0,0.1); 
    max-width: 450px; 
    margin: 70px 0 70px 0;
}

/* Progress Bar */
.progress-container { 
    margin-bottom: 30px;
     background: #eee; 
     height: 8px; 
     border-radius: 10px; 
     overflow: hidden; 
    }
.progress-bar { 
    height: 100%; 
    width: 33%; 
    background: #007bff; 
    transition: 0.4s ease; 
}

.step { 
    display: none; 
    animation: fadeIn 0.5s ease; 
}
.step.active { 
    display: block; 
}


@keyframes fadeIn { 
    from { opacity: 0; transform: translateY(10px); } 
    to { opacity: 1; transform: translateY(0); } 
}

input { 
    width: 100%; 
    padding: 12px;
    margin: 10px 0; 
    border: 1px solid #2a88ec; 
    border-radius: 8px; 
    background: #f4f4f4; 
    color: #333;
    box-sizing: border-box; 
}

select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1); 
}   
    
label{
  display: block;
  margin-bottom: 5px;
  font: bold;
  color: crimson;
}


/**styles for all selects**/
select, textarea{
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
  -webkit-appearance: none;
  -moz-appearance:  none;
  appearance: none;
}


select, textarea :focus{
    border-color: #007bff;
    outline: none;
    
}

textarea{
    resize: none;
}

.remember-forgot {
    font-size: 14.5px;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-around;
} 
.remember-forgot  label{
  display: flex;
  margin-bottom: 5px;
  font: bold;
  color: rgb(143, 220, 20);
}
.remember-forgot .checkbox {
    padding: 12px;
    margin: 10px; 
    border: 1px solid #2a88ec; 
    border-radius: 8px; 
    background: #f4f4f4; 
    color: #333;
    box-sizing: border-box; 
    width: 10%;
}
.remember-forgot a {
    color: #027926;
    text-decoration: none;
}
.remember-forgot a:hover {
    text-decoration: underline;
}

.btn-group { 
    display: flex; 
    justify-content: space-between; 
    margin-top: 20px; 
}
button {
    padding: 10px 25px; 
    border: none; 
    border-radius: 8px; 
    cursor: pointer; 
    font-weight: bold;
    transition: 0.3s; 
}
.next-btn { 
    background: #007bff; 
    color: white; 
    margin-left: auto; 
}
.prev-btn { 
    background: #6c757d; 
    color: white;
 }
button:hover {
     opacity: 0.8;
     }
button:disabled { 
    background: #ccc; 
    cursor: not-allowed;
}

/*TRUSTEE STYLES**/
.trustee{
    margin-bottom: 50px;
    background: linear-gradient( 135deg, rgb(12, 125, 196), rgb(2, 63, 100));
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 3px 21px rgba(0, 0, 0, 0.2);
}
.trustee h3{
    font-size: small;
    color: white;
    margin-bottom: 60px;
    opacity: 0.7;
}
.trus{
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: rgb(199, 198, 198);    
    font-size: x-large;

}
.tru{
   display: flex;
   justify-content: center;
}
.tru i{
    font-size: larger;
    margin: 5px;
}


/*FOOTER STYLES**/
.footer{
    position: absolute;
    left: 0px;
    right: 0px;
    margin-top: auto;
    height: auto;
    text-align: center;
    background-color: #042f4b;
    padding: 10px;
    color: white;
}
.ft{
    border-left: 2px solid grey;
    padding: 4px;
}
.backs{
    display: flex;
    align-items: center;
    justify-content: center;
}
.backs h2{
  font-size: 20px;
  margin-bottom: 10px;
  font-weight: 300;
}

.backs span{
  font-weight: 300;
  font-size: 12px;
}

.ads a {
    text-decoration: none;
    padding: 5px;
    color: white;
    font-size: 16px;
    margin-top: 20px;
    transition:  background-color 0.3s ease;
}
.ads a:hover {
    text-decoration: underline;
   /* background-color: #0056b3;*/
    border-radius: 20px;
    padding: 10px;
    color: white;

}
.ads ul{
    display: flex;
    gap: 0.4rem;
    align-items: center;
    justify-content: center;
    margin-left: -40px;

}
.ads li{
    list-style: none;
    background-color: crimson;
    border-radius: 50px;
    padding: 10px;
    font-size: 7px;
}
.help{
    color: #f9f9f9;
    margin-top: 20px;
    display: flex;
    align-items: center;
}
.help a{
    text-decoration: none;
    margin: 10px;
}
.help i{
    color: white;
    margin: 13px;
    font-size: 8px;
    letter-spacing: 2px;
    text-align: center;    
}


.legal h3{
    color: lightslategray;
    margin-bottom: 20px;
}
.legal a{
    text-decoration: none;
    color: #fff;
    margin: 6px;
}
.legal a:hover{
    color: #fff;
    padding: 4px;
    border-radius: 16px;
    border: 0.2px solid rgb(220, 221, 221);
    color: white;
    background-color: lightblue;
}


.s{
    color: grey;
    font-style: italic;
    font-weight: 300;
    margin-bottom: -15px;

}
.social{
  margin: 20px 0;

}
  

.social i{
  height: 40px;
  width: 17px;
  color: white;
  font-size: 20px;
  border-radius: 50%;
  line-height: 40px;
  padding: 10px;
  margin: 0 5px;
  cursor: pointer;
}


.ft{ 
  border-left: 2px solid grey;
  padding: 4px;
  color: white;
  font-weight: bold;
  font-size: medium;
  
}



/**styles for all inputs**/
/**styles for all inputs**/
/**styles for all inputs**/





/*DESKTOP SCREEN SIZE STYLES**/
@media screen and (min-width: 768px) {
/**HEADER STYLES**/
.header{
    display: flex;
    width: 100%;
    gap: 22rem; 
    align-items: center;
    justify-content: center;
    background-color: rgb(5, 5, 43);
    position: fixed;
    top: 0px;
    left: 0px;
    padding: 10px;
    height: 50px;
    color: whitesmoke;
    z-index: 100;
}

/**LEFT SIDE HEADER STYLES*/
.lef{
    display: flex;
    align-items: center;
}
.lef img{
    height: 30px;
    width: 30px;
    padding: 8px;
}
.lef span{
    color: whitesmoke;
    font-size: xx-large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
}


/**RIGHT SIDE HEADER STYLES*/
.righ{
    display: flex;/*visible navlinks*/
    position: relative;
    flex-direction: column;
    width: auto;
    background: transparent;
    top: 17rem;
    box-shadow: none;
    border-top: none;
}


.mobile-menu-btn{
    display: none;
}

.righ nav{
    display: flex;
    text-align: left;
    padding: 10px;
}

.nav-links{
    display: flex;
    align-items: center;
    position: absolute;
    gap: 3rem;
    top: -689%;
}

.righ nav a{
    text-decoration: none;
    color: whitesmoke;
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: flexbox;
    gap: 2rem;
    align-items: center;
    justify-content: space-around;
    
}
.righ nav a:hover{
    text-decoration: underline;
    cursor: pointer;
    color: rgb(250, 250, 250);
    border-radius: 15px;
}

.navlink {
    width: 118%;
    margin-top: -60px;
    display: none;
}

.navlink a{
    text-decoration: none;
    padding: 10px;
    color: whitesmoke;
    border-radius: 5px;
    font-size: 18px;
    background: linear-gradient(to left, #f50909, #570202);
    box-shadow: 0 0 24px rgba(0, 0, 0, 0.67);
    width: 83%;
    margin: 30px 0 30px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.navlink a:hover{
    background-color: rgb(39, 2, 2);
    cursor: pointer; 
}

/**THEME SECTION STYLES**/
.theme{
    position: relative;
    text-align: center;
    border-radius: 0 0 10px 10px;
    border-top: 2px solid lightblue;
    padding: 20px;
    margin-top: -52%;
    width: 209.5%;
    height: 48px;
    color: white;
    left: -115.5%;
    background: linear-gradient(to left, #042f4b, #011827);
    box-shadow: 0 0 24px rgba(0, 0, 0, 0.4);
}
.theme ul{
    margin-left: -45px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.theme li{
    list-style: none;
    margin: 8px;
    display: flex;
    align-items: center;
    justify-content: left;
    color: whitesmoke;
}
.theme i{
    margin: 6px;
    padding: 12px;
    border-radius: 8px;
    background: linear-gradient(to right, rgb(12, 125, 196), rgb(2, 63, 100));
    color: whitesmoke;
    font-weight: bold;
}
.theme a{
    text-decoration: none;
    color:white;
    font-size: 16px;
    font-weight: 400;
    padding: 10px;
}
.theme p{
    margin-left: 12px;
}
.theme h5{
    font-size: large;
    margin: -6px 0 -30px 0;    
}



/* SECTION STYLES**/
section {
    margin: 20% 10px 10px;   
    position: relative;
    z-index: 1;

}


.an{
    color: white; 
    padding-bottom: 3px; 
    border-radius: 7px;
    text-decoration: none;
}

    
/*MAIN STYLES*/
.main{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    width: 100%;
    margin-left: -25px;
    margin-top: 30px;
}

.bars{
    margin: 20px 0px 0px -17px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 15px;
    gap: 1rem;
    width: 100%;
}


/**FOOTER STYLES **/
.footer{
    margin-top: auto;
    height: auto;
}
.trust p{
    font-size: 21px;
}

.ads p{
    font-size: 18px;
}
.ads li{
    font-size: 18px;
}
.ads a{
    font-size: 18px;
}
.help{
    display: flex;
    color: #f9f9f9;
    margin-top: 20px;
    margin-left: 0%;
    align-items: center;
    justify-content: center;

}
.help a{
    text-decoration: none;
    margin: 10px;
}
.help i{
    font-size: 14px;
    
}

.s{
    color: grey;
    font-style: italic;
    font-weight: 300;
    margin-bottom: -15px;

}
.social{
  margin: 20px 0;

}
.social i{
  height: 40px;
  width: 20px;
  color: white;
  font-size: 20px;
  border-radius: 50%;
  line-height: 40px;
  padding: 10px;
  margin: 0 5px;
  cursor: pointer;
}


} /**END OF CSS SCREEN SIZE CODES**/

